
/.vs/
/packages/
/bin/
/obj/

*.user

/dotnet/ClosetRpc.Net/bin/
/dotnet/ClosetRpc.Net/obj/
/dotnet/ClosetRpc.Net.Protobuf/bin/
/dotnet/ClosetRpc.Net.Protobuf/obj/
/dotnet/ClosetRpc.Test/bin/
/dotnet/ClosetRpc.Test/obj/
/dotnet/CodeGenerationTemplate/bin/
/dotnet/CodeGenerationTemplate/obj/
/dotnet/MessagingTestServer/bin/
/dotnet/MessagingTestServer/obj/
/dotnet/MessagingTestClient/bin/
/dotnet/MessagingTestClient/obj/
/dotnet/TransportTestClient/bin/
/dotnet/TransportTestClient/obj/
/dotnet/TransportTestServer/bin/
/dotnet/TransportTestServer/obj/
/third_party/protobuf/
/tmp/
/third_party/protobuf_dotnet/
/dotnet/ProtobufTestApp/bin/
/dotnet/ProtobufTestApp/obj/
/dotnet/ClosetRpc.Net.Core/obj/
/dotnet/ClosetRpc.Net.Core/bin/
/dotnet/ClosetRpc.Net.Util/bin/
/dotnet/ClosetRpc.Net.Util/obj/
/dotnet/MessengerApi/bin/
/dotnet/MessengerApi/obj/
/dotnet/MessengerClient/bin/
/dotnet/MessengerClient/obj/
/dotnet/MessengerServer/bin/
/dotnet/MessengerServer/obj/
