<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup eventInterfaceName="common">
            <section eventInterfaceName="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section eventInterfaceName="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
          autoReload="true"
          throwExceptions="false"
          internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

        <targets>
            <target xsi:type="File" eventInterfaceName="file"
                    fileName="log.txt"
                    keepFileOpen="true"
                    openFileCacheTimeout="30" createDirs="true"
                    archiveFileName="{#}.log.txt"
                    archiveOldFileOnStartup="true"
                    archiveNumbering="rolling"
                    maxArchiveFiles="3" />
            <target xsi:type="Debugger" eventInterfaceName="debugger" />
            <target xsi:type="OutputDebugString" eventInterfaceName="outputDebugString" />
            <target xsi:type="ColoredConsole" eventInterfaceName="console" />
        </targets>

        <rules>
            <logger eventInterfaceName="*" minlevel="Trace" writeTo="file" enabled="false" />
            <logger eventInterfaceName="*" minlevel="Trace" writeTo="debugger" enabled="true" />
            <logger eventInterfaceName="*" minlevel="Trace" writeTo="outputDebugString" enabled="false" />
            <logger eventInterfaceName="*" minlevel="Info" writeTo="console" enabled="true" />
        </rules>
    </nlog>

</configuration>
